*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.title{
    width: 100%;
  
}

.title img{
    max-width: 920px;
}

.box1{    
    height: 40px;
    width: 100%;
    background-color: rgb(247, 246, 246);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.box1 img {
    width: 120px;
    height: 20px;
    
}

.box2{
    height: 100px;
    width: 100%;
    background-color: rgb(235, 30, 133);
    display: flex;
    align-items: center;
    padding-left: 2%;
    gap: 2%;
}
  
 .box2 img{
    width: 120px ;
    height: 50px; 
 }

    .okey{
        background-color: rgb(242, 20, 168);
        
        
        
    }

    .list-item {
        display: flex;
        justify-content: space-between;
        gap:200px;
        
    }

    .second a{
            color: #fff;
            
    }



    .drop-down{
        background-color: rgb(167, 12, 12);
    }

    .drop-down-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

    }

    .drop-down-item li{
        list-style: none;
        padding: 10px;
    }
    .drop-down-item li a{
        color: #fff;
        font-size: 14px;
        text-decoration: none;
        padding: 10px;
        
    }